!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %link{:href => "/css/tiger.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/site.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}/
    %script{ :src => "/scripts/mustache.js", :type => "text/javascript"}
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", :type => "text/javascript"}
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js", :type => "text/javascript"}
    = yield_content :header

    %title
      Quickie
  %body
    .pageHeader
      /%h1{ :class => 'pageTitle'} Quickie
    .main
      = yield

    = yield_content :footer
