body, div, h1, form, fieldset, input, textarea {
  margin: 0; padding; 0; border: 0; outline: none;
}

/* http://line25.com/tutorials/create-a-stylish-contact-form-with-html5-css3 */
html {
  height: 100%;
}

body {
  background: #728eaa;
  background: -moz-linear-gradient(top, #25303C 0%, #728EAA 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #25303C), color-stop(100%, #728EAA));
  font-family: sans-serif;
}

.movielist {
  width: 800px;
  background: #c9d0de;
  border: 1px solid #e1e1e1;
  -moz-box-shadow: 0px 0px 8px #444;
  -webkit-box-shadow: 0px 0px 8px #444;
}

.movielist {
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  margin: 40px 0 40px 30px;
  color: #333;
  padding: 0 20px 30px 30px;
  min-height: 200px;
  float: left;
}

.addmore{
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  background-color: #333;
  color: white;
  line-height: 2em;
  margin: 0 0 20px 0;
}
.addmore .new-movie {
  /* visibility: hidden;*/
  display: none;
}
.movielist .addmore:hover {
	cursor: pointer; 
}
.movielist .addmore .new-movie:hover {
	cursor: auto; 
}

.addmore span.action {
  padding-left: 20px;
}

.addmore div.col1 {
  float: left;
  width: 450px
}
.addmore div.col2 {
  float: left;
  margin-left: 10px;
  width: 150px
}
.addmore label {
	float: left; 
/*	clear: left; */
	margin: 0px 15px 0 0; 
	width: 95px;
	text-align: right; 
	/* font-size: 16px; 
	color: #445668;
	
	text-transform: uppercase; 
	text-shadow: 0px 1px 0px #f2f2f2; */
}
.addmore input {
	width: 260px; 
	padding: 5px 20px 0px 20px; 
	margin: 0 0 15px 0;
	background: #5E768D;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	/* font-family: sans-serif;  */
	font-size: 1.2em;
	color: #f2f2f2; 
}
.addmore input.button {
  font-size: 1.0em;
}
.addmore input#streaming{
  width: 15px;
}

input::-webkit-input-placeholder  {
   	color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
}
input:-moz-placeholder {
	color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
}

.addmore .buttons {
  clear: both;
  margin: 20px 0 20px 280px;
}
.addmore .buttons input {
  width: 70px;
  margin-right: 10px;
  -moz-box-shadow: 0px 0px 5px #999;
  -webkit-box-shadow: 0px 0px 5px #999;
  border: 1px solid #556f8c;
  background: -moz-linear-gradient(top, #718DA9 0%, #415D79 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415D79)); /* webkit */
  cursor: pointer;
}

.movielist .row .col {
  float: left;
}
.movielist .header {
  border-bottom: 1px solid black;
  float: left;
}

.addmore input#rating {
  width: 90px;
}
.addmore input#length {
  float: left;
  width: 90px;
}

.movielist .edit {
  clear: left;
  width: 30px;
}
.movielist .title {
  width: 180px;
}
.movielist .rating {
  width: 80px;
}
.movielist .notes {
  width: 200px;
}
.movielist .length {
  width: 55px;
}
.movielist .url {
  width: 45px;
}
.movielist .streaming {
  text-align: center;
  width: 80px;
}
