
<div class="welcome">
  <h3>Movies</h3> <div>{{movieuserid}} <a class="loginlink" href="#">[change]</a></div>
</div>
<div class="addmore">
  <span class="action">Add a movie ...</span> 
  <div class="new-movie">
	<div class="col1">
		<label>Title</label>
		<input type="text" maxlength="90" id="title" placeholder="movie title"/>
  	</div>
	<div class="col2">
	  <label>Netflix/Amazon</label>
	  <input type="checkbox" id="streaming" /> 
	</div>
	<div class="col1">
		<label>Genre</label>
		<input type="text" maxlength="90" id="genre" placeholder="genre(s)"/>
  	</div>
	<div class="col2">
		<label>Who?</label>
		<select id="moviefor">
			<option value="both">both</option>
			<option value="ethan">ethan</option>
			<option value="lucas">lucas</option>
		</select>
  	</div>
	<div class="col1">
		<label>Notes</label>
		<input type="text" maxlength="90" id="notes" placeholder="additional info about movie"/>
  	</div>
	<div class="col1">
		<label>Length</label>
		<input type="text" maxlength="90" id="length" placeholder="movie length"/>
  	</div>

	<input type="hidden" id="objectid" />
	<!--
	<label>Rating</label>
	<input type="text" id="rating" placeholder="rating/interest level"/>
	-->
  	<div class="buttons row">
		<input type="submit" name="cancel" class="button cancelbtn" value="Cancel"/>
		<input type="submit" name="ok" class="button okbtn" value="Save"/>
  	</div>
  </div>
</div>
<div>
  <div class="movie row header">
	<div class="col edit primary">&nbsp;</div>
	<div class="col title primary">Title</div>
	<div class="col genre primary">Genre</div>
	<div class="col notes secondary">Notes</div>
	<div class="col whofor">For</div>
	<div class="col length secondary">Length</div>
	<div class="col url secondary">IMDB</div>
	<div class="col streaming">Streaming?</div>
	<div class="col addedby">Added by</div>
  </div>
  {{#results}}
  <div class="movie row data" movieid="{{id}}">
	<div class="col edit primary"><img src="images/edit-pen.png"/></div>
  	<div class="col title primary"> {{Title}} </div>
  	<div class="col genre primary"> {{Genre}}&nbsp; </div>
  	<div class="col notes secondary"> {{Notes}} &nbsp;</div>
  	<div class="col whofor"> {{WhoFor}} &nbsp;</div>
  	<div class="col length secondary"> {{Length}} &nbsp;</div>
	<div class="col url secondary"> <a href='{{Url}}' target='new'>Search</a>&nbsp;</div>
	<div class="col streaming"> 
	  <input type="checkbox" disabled='disabled' {{#Streaming}}checked='checked'{{/Streaming}} /> &nbsp;
	</div>
  	<div class="col addedby"> {{AddedBy}} &nbsp;</div>
  </div>
  {{/results}}
</div>
