<div class="detail-popup">
  <div class="title-row">
	<div class="title">Movie: {{Title}}</div>
	<div class="closebox">&nbsp;</div>
  </div>
  <div class="col1">
	<div class="row">
		<div class="label">Genre</div>
		<div class="data">{{Genre}}</div>
	</div>
	<div class="row">
		<div class="label">Length</div>
		<div class="data">{{Length}}</div>
	</div>
	<div class="row">
		<div class="label">Notes</div>
		<div class="data">{{Notes}}</div>
	</div>
  </div>

  <div class="col2">
	<div class="row">
		<div class="label">Media</div>
		<div class="data">{{Media}}</div>
	</div>
	<div class="row">
		<div class="label">For?</div>
		<div class="data">{{WhoFor}}</div>
	</div>
	<div class="row">
		<div class="label">Added</div>
		<div class="data">{{DateAdded}}</div>
	</div>
	<div class="row">
		<div class="label">Added By</div>
		<div class="data">{{AddedBy}}</div>
	</div>
  </div>
</div>
